<%= render "shared/nav", user: @user %>

<section class="recipes public">
  <% if @recipes.empty? %>
    <p class="empty-recipes">No public recipes.</p>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-item">
        <div class="recipe-desc slow">
          <div class="foodownercombo">
            <h4 class="nav-links"><%= link_to recipe.name, recipe_path(recipe) %></h4>
            <p class="usernames">By:
              <%= recipe.user.name %></p>
          </div>
          <br>
        </div>

        <div class="recipe-title-delete">
          <h5>total number of foods: <%# <%= recipe.foods.count %> </h5>
          <h5>total price of foods: <%# $<%= recipe.foods.sum(:price) %> </h5>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
