<%= render "shared/nav", user: @user %>

<h1 class="recipes_header">Recipes</h1>

<div class="recipe">
  <%= link_to "New recipe", new_recipe_path, class: "foods-add-button" %>
  <br>
  <br>
  <div id="recipes">
    <% @recipes.each do |recipe| %>

      <div class="each-recipe">
        <% if can? :read, recipe %>

          <div class="recipe-name-and-button">
            <h3 class="nav-links"><%= link_to "#{recipe.name}", recipe_path(recipe.id), class: "links" %></h3>
            <% if can? :destroy, recipe %>
              <%= button_to "Delete recipe",
              recipe_path(recipe.id),
              class: "recipe-delete-button",
              method: :delete %>
            <% end %>
          </div>

          <div class="desc-recipe">
            <p><%= recipe.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

